html
  head
    title Play Nine
    script(src="bower_components/jquery/dist/jquery.min.js")
    script(src="bower_components/react/react.min.js")
    script(src="bower_components/react/JSXTransformer.js")
    link(type='stylesheet', href="bower_components/bootstrap/dist/css/bootstrap.min.css")
  body
    h1 hello world
    div#container
      .container

    script(type='text/jsx' src="script.jsx")
