html
  head
    title Play Nine
    script(src="scripts/bower_components/jquery/dist/jquery.min.js")
    script(src="scripts/bower_components/react/react.min.js")
    script(src="scripts/bower_components/react/JSXTransformer.js")
    link(rel='stylesheet', href="scripts/bower_components/bootstrap/dist/css/bootstrap.min.css")
    link(rel='stylesheet', href="styles/main.scss")
  body
    div#container
      .container

    script(type='text/jsx' src="scripts/script.jsx")
